@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Linx is a web application for logging hyperlinks from IRC chat history.</p>
        <p>Linx is open source, see the <a href="https://github.com/htuomola/linx" rel="no-follow">GitHub project</a> for more info.</p>
    </div>
</div>