@model IEnumerable<LinkLogger.DataAccess.Link>

@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<!-- ko if: loadingLinks -->
<div class="well" >Loading content, please wait.</div>
<!-- /ko -->

<table class="table" data-bind="visible: !loadingLinks()">
    <thead>
        <tr>
            <th>Title</th>
            <th>Link</th>
            <th>User</th>
            <th>Channel</th>
            <th>Posted at</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: links">
        <tr>
            <td><span data-bind="text: title"> </span></td>
            <td><a data-bind="attr: {href: url, title: url}, text: urlText" target="_blank"></a></td>
            <td><span data-bind="text: user"> </span></td>
            <td><span data-bind="text: channel"> </span></td>
            <td><span data-bind="text: postedAt"> </span></td>
        </tr>
    </tbody>
</table>